
<!doctype html>
<html>
<head>
  <title>Example Domain</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

  <style type="text/css">
    #registerbutton{
        margin-left: 625px;
    }
    .tabht{
      height: 450px;
    }
    .pagination-container{
      margin-left: 550px;
      padding: 15px;
    }
  </style>

  <script type="text/javascript">
    $(function(){
      $("body").on("click","#deletebutton",function(){
        var value1 = $(this).val();
        var data2 = {};
        data2.title = value1;
        $.ajax({
          url: '/deletestudent',
          // dataType: "jsonp",
          type: 'POST',
          data: JSON.stringify(data2),
          contentType: 'application/json',
          success: function (data) {
            console.log("Data:"+data);
            alert(data)
            location.reload();
          },
          error: function (xhr, status, error) {
            console.log('Error: ' + error.message);
          },
        });
      });

      $("body").on("click","#editbtn",function(){
        var value = $(this).val();
        var data1 = {};
        data1.title = value;
        $.ajax({
          url: '/editstudent',
          type: 'POST',
          data: JSON.stringify(data1),
          contentType: 'application/json',
          success: function (data) {
            var dataref = JSON.parse(data);
            console.log(dataref[0].name);
            $('#myModal2').modal('show');
            $('#nameid2').val(dataref[0].name);
            $('#sectionid2').val(dataref[0].section);
            $('#emailid2').val(dataref[0].email);
            $('#phoneid2').val(dataref[0].phone);
            $("#nameid2").prop("readonly", true);
            $('#myform2').on('submit', function (e) {
              e.preventDefault();
              $.ajax({
                type     : "POST",
                url      : '/updatestudent',
                data     : $('#myform2').serializeArray(),
                success  : function(data, textStatus, jqXHR ) {
                  console.log("Data:"+data);
                  alert(data);
                  $("#myModal2").modal('toggle');
                  location.reload()
                }
              });
            });
          },
          error: function (xhr, status, error) {
            console.log('Error: ' + error.message);
          },
        });
      });

      $("body").on("click","ul li",function(){
        $("ul li").removeClass("active");
        $(this).addClass("active");
      });

      $("body").on("click",".page-link",function(){
        var variable = $(this).attr("id");
        var last = unidata.length;
        var total = Math.ceil(last / 5);
        console.log(total);
        var l = 0,j = 0,k = 0;

        if((variable >= 1)&&(variable != total)){
          l = (variable - 1) * 5;
          j = variable * 5;
          current = variable;
        }
        if(variable == total){
          l = (variable - 1) * 5;
          current = variable;
          j = last;
        }
        if((variable == "prev") && (current > 1)){
          current = current - 1;
          l = (current - 1) * 5;
          j = current * 5;
        }
        if((variable == "nxt") && (current < last)){
          if(current == 2){
            current = current + 1;
            l = (current - 1) * 5;
            j = last;
          }
          else{
            current = current + 1;
            l = (current - 1) * 5;
            j = current * 5;
          }
        }
//$('#table').html(content);

        var content = "<table class='table table-bordered'><thead class='thead-inverse'><tr><th>NAME</th><th>SECTION</th><th>EMAIL</th><th>PHONE</th><th>EDIT</th><th>DELETE</th></tr></thead><tbody>"
        for(k = l; k < j; k ++){
          content += '<tr><td>' +  unidata[k].name + '</td><td>' +  unidata[k].section + '</td><td>' +  unidata[k].email + '</td><td>' +  unidata[k].phone + '</td><td><button id="editbtn" type="submit"  value="' +  unidata[k].name + '"  class="btn btn-primary btn-sm" >Edit</button></td><td><button type="submit" id="deletebutton" value="' +  unidata[k].name + '" class="btn btn-primary btn-sm" >Delete</button></td></tr>';
        }
        content += "</tbody></table>"
        $('#table').html(content);
      });

      var unidata,current=1;
        $.ajax({
          url: '/getlist',
          type: 'GET',
          success: function (dataa) {
            var data = JSON.parse(dataa);
            unidata = data;
            var len = Math.ceil(data.length / 5);
            console.log(data[0].name);
            var i = 0;
            var pager;
            pager = '<li class="active page-item"><span ><a class="page-link" id="1" >1</a> <span class="sr-only">(current)</span></span></li>';
            if(len > 1){
              for (i = 2;i <= len;i ++){
                pager += '<li class="page-item"><a class="page-link" id="'+i+'" >'+i+'</a></li>';
              }
            }
            var content = "<table class='table table-bordered'><thead class='thead-inverse'><tr><th>NAME</th><th>SECTION</th><th>EMAIL</th><th>PHONE</th><th>EDIT</th><th>DELETE</th></tr></thead><tbody>"
            for(i = 0; i < 5; i ++){
              content += '<tr><td>' +  data[i].name + '</td><td>' +  data[i].section + '</td><td>' +  data[i].email + '</td><td>' +  data[i].phone + '</td><td><button id="editbtn" type="submit"  value="' +  data[i].name + '"  class="btn btn-primary btn-sm" >Edit</button></td><td><button type="submit" id="deletebutton" value="' +  data[i].name + '" class="btn btn-primary btn-sm" >Delete</button></td></tr>';
            }
            content += "</tbody></table>"

            $('#table').append(content);
            $('.pagination').append(pager);
          },
          error: function (xhr, status, error) {
            console.log('Error: ' + error.message);
          },
        });

        $('#myform').on('submit', function (e) {
          e.preventDefault();
          $.ajax({
            type     : "POST",
            url      : $('#myform').attr('action'),
            data     : $('#myform').serializeArray(),
            success  : function(data, textStatus, jqXHR ) {
              console.log("Data:"+data);
              alert(data);
              $("#myModal").modal('toggle');
              location.reload()
            }
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container tabht">
        <h4 class="display-3">Student Application</h4>
        <br>
        <div class="container" id="table"></div>
      </div>

      <div class="pagination-container">
        <nav>
          <ul class="pagination"></ul>
        </nav>
      </div>

      <button type="submit" id="registerbutton" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm" >Register</button>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <nav class="navbar navbar-light bg-faded">
              <h1 class="navbar-brand mb-0">Add a student</h1>
            </nav>
            <form id="myform" method="post" action="/registerstudent">
              <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control" id="nameid" name="name" placeholder="Enter name" required>
              </div>
              <div class="form-group">
                <label >Section</label>
                <input type="text" class="form-control" id="sectionid" name="section" placeholder="A/B/C/D" required>
              </div>
              <div class="form-group">
                <label >Email</label>
                <input type="email" class="form-control" id="emailid" name="email" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label >Phone</label>
                <input type="number" class="form-control" id="phoneid" name="phone" placeholder="+91" min="1000000000" max="9999999999" required >
              </div>
              <input type="submit" id="savebutton"  class="btn btn-primary btn-sm" role="button" aria-pressed="true"/>
              <button class="btn btn-primary btn-sm" role="button" data-dismiss="modal" aria-pressed="true">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <nav class="navbar navbar-light bg-faded">
              <h1 class="navbar-brand mb-0">Update student</h1>
            </nav>
            <form id="myform2" method="post" >
              <div class="form-group">
                <label >Name</label>
                <input type="text" class="form-control" id="nameid2" name="name" placeholder="Enter name" required>
              </div>
              <div class="form-group">
                <label >Section</label>
                <input type="text" class="form-control" id="sectionid2" name="section" placeholder="A/B/C/D" required>
              </div>
              <div class="form-group">
                <label >Email</label>
                <input type="email" class="form-control" id="emailid2" name="email" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label >Phone</label>
                <input type="number" class="form-control" id="phoneid2" name="phone" placeholder="+91" min="1000000000" max="9999999999" required >
              </div>
              <input type="submit" id="savebutton2"  class="btn btn-primary btn-sm" role="button" aria-pressed="true"/>
              <button class="btn btn-primary btn-sm" role="button" data-dismiss="modal" aria-pressed="true">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
